body {
    font-family: "Roboto Slab", Sans-Serif;
    background-color: #2c3e50;
    color: #ecf0f1;
}
#title {
    width: 50%;
    font-size: 5em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    font-family: "Lobster", cursive;
}
.controls {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
}
#breakTime {
    margin-right: 3%
}
#timeDisplay {
    font-size: 5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 5%;
    width: 25%;
    background-color: #2ecc71;
    border-radius: 50px;
}
.display:hover {
    cursor: pointer;
}
#break-or-session {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 2em;
}
.back-button {
    display: block;
    margin-top: -248px;
    margin-left: -48px;
    float: left;
    height: 350px;
    width: 175px;
    color: #999;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
}
.back-button:hover {
    background-color: #ccc;
}